@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Cesar Augusto Gadelha Santos<br />
    Curitiba - PR<br />
    <abbr title="Telefone">P:</abbr>
    (41)99869-3575
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:cesar_ags@outlook.com">cesar_ags@outlook.com</a><br />
</address>